.cart
  .cart-title
    span.fa.fa-shopping-cart
    | &nbsp; Today's donations
  .cart-items
    ul.leaders
      li
        span Account # 30567
        span $5,666.39
      li.description Early discount amount
  .cart-totals
    ul.leaders
      li
        span Subtotal
        span $5,666.39
      li
        span Tax
        span $0
      br
      li
        span Total
        span $5,666.39
  button.btn.btn-success.btn-block Proceed to checkout



