.row
  .col-sm-5
    label(for="accountNumberSearch") Account number
    input.form-control(type="text" id="accountNumberSearch" name="accountNumberSearch" placeholder="Account number")
  .col-sm-5
    label(for="siteNumberSearch") Site number
    input.form-control(type="text" id="siteNumberSearch" name="siteNumberSearch" placeholder="Site number")
  .col-sm-2
    label
      | &nbsp;
    button.btn.btn-primary.btn-block
      | Search&nbsp;
      .fa.fa-search(aria-hidden="true")
      span.sr-only Search account number or site number